<template>
  <q-card class="my-card">
    <q-card-section>
      <div class="text-h6">
        {{ city.name }}
      </div>
    </q-card-section>
    <q-card-actions vertical align="left">
      <q-btn flat
             v-for="station in city.stations"
             :key="station.indicativo">
        <router-link :to="{ name: 'stationDetail', params: {id: station.indicativo} }">
          {{ station.nombre }}
        </router-link>
      </q-btn>
    </q-card-actions>
  </q-card>
</template>

<script>
export default {
  name: 'CityCard',
  props: {
    city: {
      type: Object,
      required: true
    }
  }
}
</script>
