<template>
  <q-card>
    <q-card-section>
      <div class="text-h6">
        {{ station.nombre }}
      </div>
      <div class="text-subtitle2">
        {{ station.provincia }}
      </div>
    </q-card-section>
  </q-card>
</template>

<script>
export default {
  name: 'StationCard',
  props: {
    station: {
      type: Object,
      required: true
    }
  }
}
</script>
