<template>
  <q-page>
    <q-inner-loading :showing="stationIsFetching || climatologicalValuesIsFetching">
        <q-spinner-gears size="50px" color="primary" />
    </q-inner-loading>
    <div class="q-pa-md row q-col-gutter-md"
         v-if="!stationIsFetching && !climatologicalValuesIsFetching">
      <div class="col-md-3">
        <StationCard :station="station" />
      </div>
      <div class="col-md-9">
        <StationValues :climatologicalValues="climatologicalValues" />
      </div>
    </div>
  </q-page>
</template>

<script>
import { mapGetters } from 'vuex'
import StationCard from 'src/components/pages/StationDetail/StationCard'
import StationValues from 'src/components/pages/StationDetail/StationValues'

export default {
  name: 'StationDetail',
  components: {
    StationCard,
    StationValues
  },
  mounted () {
    this.$store.dispatch('station/getStation', {
      id: this.$route.params.id
    })

    let endDate = new Date()
    let initDate = new Date()
    // 10days init from now
    initDate.setDate(initDate.getDate() - 20)
    initDate = initDate.toISOString().split('T')[0] + 'T00:00:00UTC' // As AEMET https://opendata.aemet.es/centrodedescargas/js/productosAEMET_20190313.js
    endDate.setDate(endDate.getDate())
    endDate = endDate.toISOString().split('T')[0] + 'T00:00:00UTC' // As AEMET https://opendata.aemet.es/centrodedescargas/js/productosAEMET_20190313.js
    this.$store.dispatch('climatologicalValues/getClimatologicalValues', {
      idema: this.$route.params.id,
      initDate,
      endDate
    })
  },
  computed: {
    ...mapGetters({
      'stationIsFetching': 'station/isFetching',
      'station': 'station/station',
      'climatologicalValuesIsFetching': 'climatologicalValues/isFetching',
      'climatologicalValues': 'climatologicalValues/climatologicalValues'
    })
  }
}
</script>
